body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Container 
=================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
=================*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    border-bottom: 1px solid #51546a;
}

/* Nav
=================*/

.nav {
    display: flex;
}

.nav a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    opacity: .75;

    transition: opasity .2s linear;
}

.nav a:first-child {
    margin-left: 0;
}

.nav a:hover {
    opacity: 1;
}

/* Intro
==================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 130px;

    background: #313550 url("assets/images/intro-bg.jpg") no-repeat center;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center; 
}

.intro__title {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.intro__suptitle {
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;

}

/* Button
==================*/
.btn {
    display: inline-block;
    vertical-align: top;

    border-radius: 3px;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    transition: background-color .1s linear, box-shadow .1s linear;
}

.btn--red {
    background-color: #e84545;
    text-align: center;
    padding: 15px 40px; 
}

.btn--large {
    background-color: #e84545;
    text-align: center;
    padding: 15px 70px;
}

.btn--red:hover {
    background-color: #d22525;
    box-shadow: 0 3px 4px black;
}

.btn--large:hover {
    background-color: #d22525;
    box-shadow: 0 3px 4px black;
}

/* Features
==================*/
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 100px 0;
}

.features__item {
    width: 33.33333%;
    padding: 0 40px;
    text-align: center;
    margin-bottom: 65px;
}

.features__logo {
    margin-bottom: 30px;
}

.features__title {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;

    margin-bottom: 20px;
}

.features__text {
    line-height: 1.5;
}

/* Works
==================*/
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden; 
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.works__item:hover {
    transform: scale(1.1);
    transition: transform .2s linear;
    z-index: 3;
}

.works__item:hover .works__content {
    opacity: 1;
}


.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate(-50%, -50%);
}

.works__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;
    transition: opacity .2s linear;
    

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.works__text {
    color: #fff;
}


/* Our team
==================*/
.team {
    margin: 100px 0 70px;
}
.our__team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__card {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.card_photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.card__name {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 15px 0 7px;
}

.card__position {
    text-transform: uppercase;
    color: red;
    font-weight: 500;
    margin-bottom: 20px;
}

.card__text {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Social
==================*/
.card__social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;

    border: 1px solid #e8ecee;
    transition: background-color .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;
    transition: fill .1s linear;
}

/* Testimonials
==================*/
.testimonials {
    overflow: hidden;
    background-color: #53354a;
}

.testi__item {
    display: flex;
    flex-wrap: wrap;
}

.testi__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.testi__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.testi__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.testi__text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.testi__author {
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
}

/* Download
==================*/
.download {
    margin: 100px 0 70px;
    text-align: center;
}

.down__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
}

.down__suptitle {
    font-size: 13px;
    color: #000;
    margin-bottom: 30px;
}


/* Footer
==================*/
.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    text-align: center;
    width: 33.33333%;
}

.footer__title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.footer__address {
    font-style: normal;
    line-height: 1.5;
    color: rgba(255, 255, 2555, .5);
}

.footer__text {
    line-height: 1.5;
    color: rgba(255, 255, 2555, .5);
}

.footer__copyright {
    padding: 20px 0;
    background-color: #313454;
    text-align: center;
}

/* Modal */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
}

.overlay .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 30px 40px;
    width: 300px;
    text-align: center;
}

.overlay .modal .modal__close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 50px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
}

.overlay .modal .modal__title {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}

.overlay .modal .modal__subtitle {
    color: #000;
    font-size: 15px;
    margin-bottom: 10px;
}

#download {
    display: none;
}

/* Form */
.feed-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feed-form input {
    margin-bottom: 10px;
    width: 200px;
    height: 33px;
    border-radius: 8px;
}

.feed-form .button {
    width: 200px;
    height: 33px;
    background-color: #313550;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 8px;
}
